body{
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Raleway, serif;
    text-align: center;

}

ul {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 2rem;
    align-items: center;
    border-radius: 10px;
}

ul a {
    text-decoration: none;
}